/**
* Project: Typing_Lizard_Frontend
* Author : Alexander Friedl
* Date : 29.05.2024
* Time : 11:14
*/

.footer {
    background-color: #444;
    padding: 10px 0;
    border-radius: 8px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
}

.footer li {
    list-style-type: none;
    margin: 0 15px;
}

.footer a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}